.third-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 135px;
    z-index: 10;
    position: relative;
}

.modelo-container {
    display: flex;
    align-items: end;
}

.third-other-text {
    font-size: 32px;
    font-weight: 400;
}