.second-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 220px;
    z-index: 10;
    position: relative;
}

.arrow_left {
    height: 64px;
}

.arrow_right {
    height: 64px;
}

.text {
    width: 100px;
}

.second-subtitle {
    font-size: 32px;
    margin-bottom: 16px;
}

.second-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 16px;
}

.artist {
    font-size: 16px;
}