.first-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 192px;
    padding-top: 96px;
    z-index: 10;
    position: relative;
}



.developer {
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.welcome {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 10px;
}

.other-text {
    font-size: 32px;
    font-weight: 400;
}

.play {
    width: 200px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: #85FFA0;
    font-size: 32px;
    font-weight: bold;
    margin-top: 32px;
}


.figure {
    display: flex;
    justify-content: space-around;
}