.moveset-box {
    background-color: #ffffff;
    width: 860px;
    display: flex;
    justify-content: space-around;
    margin: 48px 0px 48px 0px;
    padding: 16px;
    border-radius: 20px;
}

.moveset {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items:center ;
    list-style: none;
}

.badge {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 364px;
    border-radius: 10px;
    padding: 6px;
    font-size: 24px;
    margin: 10px;
    font-weight: 500;
}

#move { 
    background-color: #0C1033;
    font-size: 32px;
    padding: 10px;
    font-weight: 700;
}

#react {
    background-color: #48D0F8;
    transition: 0.5s;
}
#react:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#ts {
    background-color: #2D79C7;
}
#ts:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#sass {
    background-color: #CF649A;
}
#sass:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#php {
    background-color: #777BB3;
}
#php:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#java {
    background-color: #EB8F1D;
}
#java:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#next {
    background-color: #000000;
}
#next:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#angular {
    background-color: #BF002E;
}
#angular:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

#C {
    background-color: #633FDA;
}
#C:hover {
    transition: 0.5s;
    background-color: #1e1e1e;
    color: #ffffff;
}

.icon {
    margin: 5px 0px 0px 8px;
    font-size: 28px;
    
}