.App-header {
    align-items: center;
    background: linear-gradient(268deg, #0C1033 1.6%, #070A20 45.66%, #000 127.65%);;
    border-bottom: 1px solid #FFF;
    display: flex;
    height:80px;
    justify-content: space-around;    
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.links {
    display: flex;
    list-style: none;
    padding-left: 48px;
    text-decoration: none;
}

.link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #85FFA0;
}

.pages {
    display: flex;
}