.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search{
    background-color: #ffffff12;
    width: 304px;
    height: 32px;
    border-radius: 50px;
    padding-left: 16px;
    outline: 1px solid #ffffff;
    border: none;
    transition: 0.5s;
}
.search:hover {
    background-color: #ffffff1f;
    transition: 0.5s;
}

.search::placeholder {
    color: #ffffff85;
    font-weight: 400;
}

.filter {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-top: 32px;
    text-transform: uppercase;
}

.arrows {
    width: 16px;
}
.arrows:hover {
    cursor: pointer;
}

.filter_item {
    color: #ffffff;
    transition: 0.5s;
    border-radius: 3px;
    padding: 2px;
}

.filter_item:hover{
    background-color: #ffffff1f;
    transition: 0.5s;
    cursor: pointer;
    /* padding: 2px; */
    /* letter-spacing: 1px; */
}
